* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

hr {
  width: 100%;
}

h2 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  width: 100%;
}
